In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv("train.csv")

In [3]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
type(train["label"].values)

numpy.ndarray

In [9]:
original_y=train["label"].values.reshape(1,train["label"].values.shape[0])

In [10]:
original_y.shape

(1, 42000)

In [19]:
original_x=train.drop("label",axis=1).values.T

In [24]:
original_x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [25]:
original_y

array([[1, 0, 1, ..., 7, 6, 9]], dtype=int64)

In [26]:
print("shape of X is : "+str(original_x.shape))
print("shape of Y is : "+str(original_y.shape))

shape of X is : (784, 42000)
shape of Y is : (1, 42000)